@import "tailwindcss";

@theme {
    --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-hero: "Cormorant Garamond", serif;
    --font-hero-2: "MonteCarlo", serif; 
}

@layer base {
    body {
        @apply bg-white font-sans;
    }

    h1 {
        @apply text-4xl md:text-5xl tracking-tight;
    }

    h2 {
        @apply text-2xl md:text-3xl font-semibold tracking-tight;
    }

    h3 {
        @apply text-xl md:text-2xl font-semibold;
    }

    h4 {
        @apply text-3xl md:text-4xl font-bold;
    }

    p {
        @apply text-base md:text-lg leading-relaxed;
    }
}

@layer components {
    .btn {
        @apply px-3 py-1 rounded-md border-2 border-indigo-600 hover:border-indigo-700 cursor-pointer
    }

    .btn-primary {
        @apply bg-indigo-600 hover:bg-indigo-700 text-white;
    }

    .btn-secondary {
        @apply bg-white hover:bg-gray-100 text-black;
    }
}

@layer utilities {
    .page-width {
        @apply w-full max-w-5xl px-6;
    }

    .container-main {
        @apply mx-auto pt-4 pb-8 md:pt-6 md:pb-10;
    }

    .bg-navbar {
        @apply bg-gray-50;
    }

    .bg-light {
        @apply bg-gray-100;
    }

    .bg-dark {
        @apply bg-gray-200;
    }

    .hover\:bg-light:hover {
        @apply bg-gray-100;
    }

    .hover\:bg-dark:hover {
        @apply bg-gray-200;
    }

    .bg-primary {
        @apply bg-indigo-600;
    }

    .text-primary {
        @apply text-indigo-600
    }

    .text-main {
        @apply text-black;
    }

    .text-muted {
        @apply text-gray-500;
    }

    .link {
        @apply text-sm font-medium hover:underline underline-offset-4;
    }
}